<configuration>
  <EditorTrackerSettings>
    <add key="EditorNameField" value="EDITOR_NAME" />
    <add key="EditDateField" value="EDIT_DATE" />
    <add key="TrackDatabaseUser" value="True" />
    <add key="DateAndTime" value="False" />
    <add key="X" value="X" />
    <add key="Y" value="Y" />
    <add key="USNG" value="USNG" />
  </EditorTrackerSettings>
</configuration>