<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <EditorTrackerSettings>
    <add key="EditorNameField" value="EDITOR_NAME" />
    <add key="EditDateField" value="EDIT_DATE" />
    <add key="TrackDatabaseUser" value="True" />
    <add key="DateAndTime" value="False" />
  </EditorTrackerSettings>
</configuration>